* {
    box-sizing: border-box;
    /* margin: 0; */
}

html {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    border-bottom: 1px darkgray solid;
}

h2 {
    text-align: center;
    border-bottom: 1px darkgray dashed;
    padding-bottom: 5px;
    margin-top: 30px;
}

.form {
    margin: 1rem auto;
}

.log {
    text-align: right;
    padding-right: 30px;
}

.line {
    margin: 20px 10px;
}

.line label,
.line input,
.line select {
    margin: 5px 0;
    display: block;
    width: 100%;
}

.line label {
    font-weight: bold;
    font-size: 1rem;
}

.line input,
.line select {
    font-size: 1rem;
    height: 2rem;
}

.line input:focus,
.line select:focus {
    outline: none;
    background: rgb(237, 251, 255);
    border-color: rgb(213, 223, 226);
}

.button {
    margin: 20px 10px;
    text-align: center;
    border: 1px black solid;
    height: 2.5rem;
    line-height: 2.5rem;
    background: rgb(193, 219, 228);
    border-radius: 8px;
    cursor: pointer;
}

.button:hover,
.button:active {
    color: white;
    background: lightblue;
}

label[for="upgrade"] {
    width: auto;
}

input[type="checkbox"] {
    width: auto;
    border: 1px solid #ccc;
}

.line:last-of-type {
    display: flex;
    justify-content: space-between;
}

.hidden {
    display: none;
}

@media (min-width: 505px) {
    .form {
        max-width: 505px;
    }
}